<div class="modal fade" id="open" tabindex="-1" role="dialog" aria-labelledby="openLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="openLabel">{{L 'editFrapp'}}</h4>
			</div>
			<div class="modal-body">
				<table class="frapps">
					<tbody>
						{{#each frapps}}
							<tr>
								<td class="text-center" width="15%">
									{{#if icon}}
										<img src="{{url}}/{{icon}}">
									{{else}}
										<span class="h3">{{i 'file'}}</span>
									{{/if}}
								</td>
								<td>
									{{name}}
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
